{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script  defer src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyDz6LPXZI3d1V7_KW9zKDycWzzwKT7rTPI"  type="text/javascript"></script>
  <script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>


  <title>BoxIt.</title>
</head>
<body>

  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero"><h1><span>B</span>OX <span>I</span>T</h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#services" data-after="Service">Services</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
            <li><a href="login" data-after="Sign-In">Sign In</a></li>
            <li><a href="register" data-after="sign-up">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
  
  </section>
  <!-- End Header -->

  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Welcome, <span></span></h1>
        <h1>Deliver With <span></span></h1>
        <h1>Box It <span></span></h1>
        <a href="#about" type="button" class="cta">About Us</a>
      </div>
    </div>
  </section>

  <!-- Service Section -->
  <section id="services">
    <div class="services container">
      <div class="service-top">

        <h1 class="section-title">Start <span>Here </span></h1>
  
         <label for="id-google-address-a">Start Address</label>
         <input type="text" placeholder="*Begin typing address" id="id-google-address-a" name="google_address_a">
      
         <label for="id-google-address-b">Destination Address</label>
         <input type="text" placeholder="*Begin typing address" id="id-google-address-b" name="google_address_b">
      
      
         <input type="hidden" class="geo" id="id-lat-a" value="">
         <input type="hidden" class="geo" id="id-long-a" value="">
         <input type="hidden" class="geo" id="id-lat-b" value="">
         <input type="hidden" class="geo" id="id-long-b" value="">
      
      </div>

    
  <!--visit https://code.jquery.com/ for jquery script-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!-- This allows us to extend the foot scripts in HTML docs that have special requirements-->

      <div class="service-bottom">
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
          <h2>Cheap</h2>
          <p>Our running costs are much lower than our competitors so we offer the best prices. </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
          <h2>Express Deliveries</h2>
          <p>When you arrange a delivery, the driver arrives, collects the package and drops it off. </p>
        </div>
        <div class="service-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png"/></div>
          <h2>Reliable Service</h2>
          <p>Our Driver's always arrive on time, and provide a very fast and friendly service</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{% static './img/img-3.jpg'%}" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>Us</span></h1>
        <h2>Box It Company</h2>
        <p>Started in 2021, to provide a cheaper option for faster Deliveries </p>
        <a href="login" class="cta">Join Us</a>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Contact Section -->
  <section id="contact">
    <div class="contact container">
      <div><h1 class="section-title">Contact <span>info</span></h1></div>
      <div class="contact-items">
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png"/></div>
          <div class="contact-info">
            <h1>Phone</h1>
            <h2>085 123 4567</h2>
            <h2>01 123 456</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png"/></div>
          <div class="contact-info">
            <h1>Email</h1>
            <h2>info@boxit.com</h2>
            <h2>help@boxit.com</h2>
          </div>
        </div>
        <div class="contact-item">
          <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png"/></div>
          <div class="contact-info">
            <h1>Address</h1>
            <h2>1 Main Street, Dublin, Ireland </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand"><h1><span>B</span>OX <span>I</span>T</h1></div>
      <h2>Box It With Us</h2>
     
      <p>Copyright © 2020 BoxIt. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="{% static './app.js'%}"></script>
  <script type="text/javascript">

    var google_api_key = "{{google_api_key|safe}}";

  </script>

  <script src="{% static 'google_places.js' %}"></script>

  <script src="{% static 'main.js' %}"></script>


</body>
</html>