% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>User Login</title>
</head>
<body>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="index.html">
                        <h1><span>B</span>OX <span>I</span>T</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="index.html" data-after="Home">Home</a></li>
                        <li><a href="Sign-In.html" data-after="Projects">Sign In</a></li>
                        <li><a href="Become-a-driver.html" data-after="Projects">Become A Driver</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="pricing-table">
        <div class="pricing-card">
          <h3 class="pricing-card-header">Small Package</h3>
          <div class="price"><sup>$</sup>5<span></span></div>
          <ul>
            <li><strong>20</strong> Small Parcels</li>
            <li><strong>10 </strong> KG</li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
          </ul>
          <a href="#" class="order-btn">Order Now</a>
        </div>
    
        <div class="pricing-card">
          <h3 class="pricing-card-header">Medium Package</h3>
          <div class="price"><sup>$</sup>10<span></span></div>
          <ul>
            <li><strong>10</strong> Medium Parcels</li>
            <li><strong>30 </strong> KG</li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
          </ul>
          <a href="#" class="order-btn">Order Now</a>
        </div>
    
        <div class="pricing-card">
          <h3 class="pricing-card-header">Large Package</h3>
          <div class="price"><sup>$</sup>20<span></span></div>
          <ul>
            <li><strong>5</strong> Large Parcels</li>
            <li><strong>70 </strong> KG</li>
            <li><strong></strong></li>
            <li><strong></strong></li>
            <li><strong></strong></li>
          </ul>
          <a href="#" class="order-btn">Order Now</a>
        </div>
      </div>

</body>
</html>