<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="driver-login.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Driver Login</title>
</head>

<body>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="container1">
                    <div class="content">
                <div class="brand">
                    <a href="index.html">
                        <h1><span>B</span>OX <span>I</span>T</h1>
                    </a>
                </div>
                <div class="container1">
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="index.html" data-after="Home">Home</a></li>
                        <li><a href="Sign-In.html" data-after="Projects">Sign In</a></li>
                        <li>
                            <a href="Become-a-driver.html" data-after="Projects">Become A Driver</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
        </div>
        </div>
    </section>
    <div class="map-wrapper">
        <iframe class="googlemap"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152515.9863305577!2d-6.38578511105012!3d53.32423806896934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e80ea27ac2f%3A0xa00c7a9973171a0!2sDublin!5e0!3m2!1sen!2sie!4v1616127476465!5m2!1sen!2sie"
            width="1890" height="900" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <h1 class="section-title">Delivery <span>Up</span>dater</h1>
    <div class="container-box">
        <a href="#">
        <div class="box">
            <div class="content">
                <h3>Collected</h3>
                <p>Delivery has been collected.</p>
            </div>
            <div class="icon">
                <i class="fa fa-archive" aria-hidden="true"></i>
            </div>
        </div>
        </a>
        
        <div class="box">
            <a href="#">
            <div class="icon">
                <i class="fa fa-truck"></i>
            </div>
            <div class="content">
                <h3>Out for Delivery</h3>
                <p>Package is on its way!</p>
            </div>
        </a>
        </div>
          
        <div class="box">
        <a href="#">
            <div class="icon">
                <i class="fa fa-home" aria-hidden="true"></i>
            </div>
            <div class="content">
                <h3>Delivered</h3>
                <p>Package has been delivered.</p>
            </div>
        </a>
        </div> 
    </div>
</body>

</html>