{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sign-in.css' %}">
    <title>Sign In</title>
</head>

<body>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="index.html">
                        <h1><span>B</span>OX <span>I</span>T</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="/" data-after="Home">Home</a></li>
                        <li><a href="login" data-after="Sign-In">Sign In</a></li>
                        <li><a href="register" data-after="sign-up">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section id="sign-in">
        <div class="wrapper">
            <div class="title">Login Form</div>
            <form action="login" method="post">
                {% csrf_token %}

                <div class="field">
                    <input type="email" name="email" placeholder="Email"><br>
                    <label>Email Address</label>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="password"><br>
                    <label>Password</label>
                </div>
                <div class="content">
                    <div class="checkbox">
                    </div>
                </div>
                <div class="field">
                    <input type="Submit">
                </div>
                <div class="signup-link">Not a member? <a href="sign-up.html">Sign Up</a></div>
            </form>
        </div>
    </section>
</body>

</html>